* {
    background-color: #faf8f4;
}
.header {
    align-items: flex-end;
    position: fixed;
    height: 100%;
}

.classheader {
    position: fixed;
    height: 100%;
    border-right: solid 0.2px rgb(85, 87, 88);
}

.subclassheader {
    width: 275px;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    height: 100%;
}

.NavAndLogo {
    padding-bottom: 2px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.logo2 {
    max-width: 100px;
}

.logo2 h1 {
    align-items: center;
    margin: 0px 10px;
}

.BlueBirdTwisted2 {
    width: 100px;
    height: 100px;
 }

.navdiv {
    display: flex;
    flex-direction: column;
}

.navdiv a {
    align-items: flex-start;
    outline-style: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color:#113b62;
}

.navdiv a div {
    padding: 12px;
    outline-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.text {
    font-size: 20px;
    align-items: center;
}

.BlueBirdTwisted2 {
    height: 90px;
    width: 90px;
}

.navdiv button {
    align-items: flex-start;
    outline-style: none;
    cursor: pointer;
    /* width: 100%; */
    padding: 0;
    margin: 0;
    text-decoration: none;
    color:#113b62;
    border:solid #faf8f4;
}

.navdiv button div {
    padding: 12px;
    outline-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.profile {
    margin-bottom: 12px;
    margin-top: 12px;
}

.profile div {
    margin: 12px;
    width: 90%;
}

.profile2 {
    padding: 12px;
    width: 100%;
    border: solid #faf8f4;
    font-size: 20px;
    color: #113b62;
}

.profile2 div {
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}