.main {
    height: 100%;
    width: 800px;
    background-color: #faf8f4;
    color: #113b62;
}

.submain {
    padding: 20px 20px;
    height: 100%;
    background-color: #faf8f4;
    color: #113b62;
    border-right: solid 0.2px rgb(85, 87, 88);
    border-left: solid 0.2px rgb(85, 87, 88);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.fildactualite {
    width: 600px;
    height: 55px;
    align-items: center;
}

.fildactualite p {
    text-align: center;
    font-size: 25px;
}

.postdiv {
    width: 600px;
    height: 200px;
}

.subpostdiv {
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.photodeprofil {
    padding-top: 12px;
    width: 40px;
    height: 100%;
    flex-grow: 0;
    margin-right: 8px;
}

.PostTweets {
    height: 100%;
    width: 100%;
    padding-top: 4px;
    transition-property: opacity, color;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.postinput {
    height: 85%;
    width: 100%;
}

.postinput textarea {
    color: #faf8f4;
    border: 2px solid #113b62;
    border-radius: 10px;
    padding: 5px 20px;
    background: transparent;
    width: 500px;
    height: 100%;
    color: #113b62;
    font-size: 20px;
}

.postbutton {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}

.postbutton button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
.postbutton button:hover {
    background-color: #113b62;
    color: #fff;
    transform: translateY(-7px);
  }
  
.postbutton  button:active {
    transform: translateY(-1px);
  }
